<div id="signup-container">
    <h2>Signup</h2>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <form action="/signup" method="POST" id="form-container">

      <div id="first">
        <label for="username">Nombre de usuario</label>
        <input id="username" type="text" name="username" placeholder="Nombre de usuario">

        <label for="password">Contraseña</label>
        <input id="password" type="password" name="password" placeholder="Tu contraseña">

        <label for="name">Nombre</label>
        <input id="name" type="name" name="name" placeholder="Nombre">

        <label for="surname">Apellidos</label>
        <input id="surname" type="surname" name="surname" placeholder="Apellidos">



        <select name="genre">
          <option value="1">Chica</option>
          <option value="2">Chico</option>
          <option value="3">Chique</option>
        </select>
        <div id="alumno">
          <div class="chico">
            <input type="radio" name="role" value="SOY ALUMNO">
            <label for="radio">SOY ALUMNO</label>
          </div>
          <div class="chico">
            <input type="radio" name="role" value="SOY PROFE">
            <label for="radio">SOY PROFE</label>
          </div>
        </div>

        <input type="button" name="next" class="next action-button" value="Siguiente" />

      </div>

      <div id="second" class="off">

        <div id="second-second">
          <div id="input-subject">
            {{#each subjects}}
            <div id="check">
            <input type="checkbox" name="subjects" value={{this.title}}>
            <label for="checkbox">{{this.title}}</label>
            </div>
            <br>
            {{/each}}
          </div>


          {{!-- <input type="button" name="next" class="next action-button" value="Next" /> --}}
          <label>Indica tu posición aproximada</label>
          <input id="lat-pos" type="hidden" name="latitude" placeholder="Latitude">
          <input id="lng-pos" type="hidden" name="longitude" placeholder="Longitude">
          <div id="map"></div>

          {{!-- buddy --}}
          <input type="button" name="back" class="back action-button" value="Anterior" />
          <input type="submit" value="submit">
        </div>

      </div>
    </form>
  </div>


<script src="/javascripts/addLocation.js"></script>
<script src="/javascripts/button.js"></script>
