<header>
  <div class="center">
    <div class="img-text">
      <img src="../images/profe.svg" alt="">
      <h2>¿Eres profe?</h2>
    </div>
    <h1>{{title}}</h1>
    <div class="img-text">
      <img src="../images/alumno.svg" alt="">
      <h2>¿Eres alumno?</h2>
    </div>
  </div>
</header>

<nav>
  {{#if session}}
  <a href="/logout"><button><span>logout</span></button></a>
  <a href="/user/main">Go!</a>
  {{else}}
  <a href="/login"><button><span>login</span></button></a>
  <a href="/signup">o Regístrate..</a>
  {{/if}}
  
</nav>

<section>

  <div id="info">
    <h3>LA PIZARRA</h3>
    <p>es tu página Web</p>
    <br><br>
    <ul>
      <li>* Busca a tu profe/alumno</li>
      <li>* Crea y gestiona tus citas</li>
      <li>* Talleres y temarios innovadores</li>
    </ul>
  </div>

  <div id="subjects">
    {{!-- slide con materias --}}
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <a href="/subjects">
      <div id="multi-img">
        {{#each subjects}}
        <img src="{{this.imgPath}}" alt="">
        {{/each}}
      </div>
    </a>
    <a href="/subjects">Conoce todas las materias</a>
  </div>


</section>


{{!--
<script>$('.carousel').carousel({
    interval: 2
  })
</script> --}}