@font-face {
  font-family: "VTKS";
  src: url(typo/VTKS.ttf) format("truetype");
}

@font-face {
  font-family: "MARKUS";
  src: url(typo/MARKUS.ttf) format("truetype");
}

@font-face {
  font-family: "QH";
  src: url(typo/QH.ttf) format("truetype");
}


@font-face {
  font-family: "SYMPO";
  src: url(typo/SYMPO.otf) format("truetype");
}

$background: #2B3A42;
$tiza: #f0f0df;
$extra: #ff8f00; //hover lighten 30
$pending: #BDD3DE;
$confirmed: #ABD100;
$done: lingthen($extra, 20);

* {
  box-sizing: border-box;
}

body {
  font: 26px "MARKUS", Helvetica, Arial, sans-serif;
  background-color: $tiza;
  color: $tiza;
}
h1 {
  font-family: "MARKUS";
  font-size: 3.2rem;
  letter-spacing: 14px;
}
h2 {
  font-family: "SYMPO";
  font-size: 30px;
  letter-spacing: 4px;
}
h3{
  font-size: 1.8rem;
  letter-spacing: 3px;
  color: #ff8f00;
}
#info h3{
  font-size: 3.2rem;
  letter-spacing: 4px;
  color: #ff8f00;
}

a {
  font-family: "SYMPO";
  color: darken ($extra, 20);
}
button {
  font-family: "MARKUS";
  background: $extra;
  cursor: pointer;
  height: 100px;
  width: 150px;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  border-radius: 4px;
  color: $tiza;
}
button:hover {
  background: darken($extra, 20);
}

header {
  background-color: $background;
  height: 200px;
}
.center {
  width: 80%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  
}
.img-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;


}
.img-text img {
  height: 60%;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
  margin-bottom: 30px;
}
section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
}
#info {
  background-color: #2B3A42;
  width: 50%;
  letter-spacing: 4px;
  padding: 5%;
}
#subjects {
  width: 40%;
}
#multi-img{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

li {
  font-size: 1.2rem;
  letter-spacing: 4px;
  line-height: 1.6rem;
}
.prueba h2{
  color: #2B3A42;
}

#main-nav {
  background-color: $extra;
  color: #f0f0df;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10%;
  margin-bottom: 3%;
}


#main-nav a{
  margin:3%;
  font-size: 2.3rem;
  // font: 26px "MARKUS";
  // color: $tiza;
}
// #main-container {
//   height: 90%;
  
// }
#pizarra {
  background-color: #2B3A42;
  border-radius: 4px;
  width: 80%;
  margin: 0 auto;
  //height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  
  align-content: left;
  justify-content: left;
}
#pending {
  background-color: $pending;
  width: 30%;
}
.meeting {
  border-radius: 4px;
  margin: 1%;
  padding: 2%;
}

.infoMaps h1 {
  color: #2B3A42;
}
.infoMaps p {
  color: #2B3A42;
}
// .infoMaps a{
  
// }
// #goToAddMeet {
//   color: #007BFF;
//   font-size: 2.2rem;
// }
#pupil {
  width: 80%;
  background-color: #2B3A42;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  padding: 3%;
  margin-bottom: 3%;
  justify-content: space-around;
}
#filtro{
 width: 30%;
}

//SIGNUP

#signup-pre-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#signup-container {
  justify-content: space-around;
  align-items: center;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  background-color: #2b3a42;
  margin: 1%;
  //padding: 3% 3%;
  width: 30vw;
  height: 70vh;
}

#form-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

// #first {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   width: 100%;
// }

#alumno {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
select {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chico{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-input-placeholder {
  color: #808080;
  text-align: center;

}

:-moz-placeholder {
  color: #808080;
  text-align: center;

}

#map {
  height: 250px;
  width: 250px; 
}
#teachersMap {
  height: 300px; 
  width: 500px; 
  border-radius: 4px;
}

.action-button {
  background-color: #ff8f00;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first .off {
  display: none;
}

.off {
  display: none;
}
#second{
  width: 80%;
}
#second-second{
  display: flex;
  flex-direction: column;
}

#input-subject{
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#check {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

 .login-block{
   min-height: 100vh;
   background-color: #2B3A42;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   text-align: center;
 
 }
.singup{
   min-height: 100vh;
   background-color: #2B3A42;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   text-align: center;
 }  

 .borderbox{
  box-sizing: border-box;
  width: 50%;
  border: 5px solid  #f0f0df;
  border-radius: 8px;
  float: left;
  
 }

